.e-button-link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 12px 19px 8px 19px;
  vertical-align: middle;
  user-select: none;
  line-height: normal;
}

.e-button-link_orange {
  color: #FFFFFF;
  background-color: #E74E0F;

  &:hover {
    background-color: #c53c03;
  }
}

.e-button-link_bordered {
  border: solid 2px #0f0e15;
  color: #0f0e15;

  &:hover {
    background-color: #0f0e15;
    color: #ffffff;
  }
}

.e-button-link_bordered_white {
  border: solid 2px #ffffff;
  color: #ffffff;

  &:hover {
    background-color: #ffffff;
    color: #000000;
  }
}

.e-button-link_bordered_orange {
  border-color: #E74E0F;
  color: #E74E0F;

  &:hover {
    background-color: #E74E0F;
    color: #FFFFFF;
  }
}

.e-button-link_center-block {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}