.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: inherit;
	stroke: inherit;
}

@mixin icon search, #9A9A9A {

}

@mixin icon next2, #FFFFFF {
  width: 70px;
  height: 70px;
}

@mixin icon next2-black, #000000 {
  width: 70px;
  height: 70px;
}

@mixin icon time, #7B7B7B {
  stroke: #7B7B7B;
}

@mixin icon next, #0f0e15 {
  cursor: pointer;
}

@mixin icon vk, currentColor {
  width: 30px;
  height: 18px;
}

@mixin icon insta, currentColor {
  width: 23px;
  height: 23px;
}

@mixin icon facebook, currentColor {
  width: 13px;
  height: 25px;
}

@mixin icon twitter, currentColor {
  width: 27px;
  height: 23px;
}

@mixin icon lj, currentColor {
  width: 28px;
  height: 34px;
}

@mixin icon download, #555555 {
  width: 19px;
  height: 18px;
  vertical-align: middle;
}

@mixin icon external, #555555 {
  width: 19px;
  height: 18px;
  vertical-align: middle;
}

@mixin icon return, #555555 {
  width: 19px;
  height: 18px;
  vertical-align: middle;
}
