.e-input__el {
  border: none;
  font-family: inherit;
  box-sizing: border-box;
}

.e-search-input {
  position: relative;
  max-height: 37px;
}

.e-search-input__el {
  width: 350px;
  background-color: #444444;
  color: #9a9a9a;
  font-size: 14px;
  padding: 11px 35px 10px 17px;
  max-height: 37px;
}

.e-search-input__button {
  position: absolute;
  width: 16px;
  height: 16px;
  border: none;
  background: none;
  padding: 0;
  margin: auto;
  right: 7px;
  top: 0;
  bottom: 0;
  cursor: pointer;
}