{% extends "_layout.html" %}
{% block title %}Об актёре{% endblock %}
{% block page %}
<div class="o-container c-actor">
  <div class="c-actor__photo"><img src="https://unsplash.it/306/433" alt="" width="306" height="433"></div>
  <div class="c-actor__name">Федоров Сергей Анатольевич</div>
  <div class="c-actor__profession">Заслуженный артист РФ</div>
  <div class="c-actor__text">
    <p>
      Родился 12.07.1966 в с. Сладково Сладковского района Тюменской области.
    </p>
    <p>
      В 1997 г. окончил РАТИ (ГИТИС) г. Москва (курс профессора Судаковой И.И.).
    </p>
    <p>
      В 1989–2005 гг. – актёр Малого драматического театра «Театрон».Некоторые роли: Дед (В. Шукшин «Точка зрения»), Ксанф (Г. Фигейредо«Лиса и виноград»),  Гамлет (Т. Стоппард «Розенкранц и Гильденстерн мертвы»),
    Питер (Э. Олби «Что случилось в зоопарке»), Гарин (К. Костенко «Клаустрофобия»).
    </p>
    <p>
      Играет в «Коляда-Театре» с 2005 года.
    </p>
  </div>
  <div class="c-actor__title">Награды</div>
  <div class="c-actor__text">
    <p>
      <b>2006</b> – «Лучшая мужская роль» на фестивале «Ирбитские подмостки» – Он
    (Н.&nbsp;Коляда «Нежность»)
    </p>

    <p>
      <b>2011</b> – «Лучшая мужская роль второго плана в&nbsp;драматическом театре» на фестивале «Браво!»(г.&nbsp;Екатеринбург) за&nbsp;роль Марка Анатольевича (А.&nbsp;Батурина «Фронтовичка», режиссёр Н.&nbsp;Коляда)
    </p>

    <p>
      <b>2013</b> – Специальный приз газеты «Уральский рабочий» в рамках фестиваля «Браво!» (г.&nbsp;Екатеринбург) –&nbsp;Собакевич (Н.&nbsp;Гоголь «Мёртвые души», режиссёр Н.&nbsp;Коляда)
    </p>
  </div>
  <div class="c-actor__title">Роли</div>
  <div class="c-actor__roles-links">
    <a href="" class="c-actor__roles-link is-active">Сейчас</a> /
    <a href="" class="c-actor__roles-link">В прошлом</a>
  </div>
  <table class="c-actor__roles-table">
    <tr>
      <td><a href="">Амиго</a></td>
      <td>&mdash;</td>
      <td>Григорий Иванович</td>
    </tr>
    <tr>
      <td><a href="">Большая советская энциклопедия</a></td>
      <td>&mdash;</td>
      <td>Капитолина Петровна</td>
    </tr>
    <tr>
      <td><a href="">Безымянная звезда</a></td>
      <td>&mdash;</td>
      <td>Начальник вокзала</td>
    </tr>
    <tr>
      <td><a href="">Борис Годунов</a></td>
      <td>&mdash;</td>
      <td>Воротынский, Пристав 1,Стольник 1</td>
    </tr>
    <tr>
      <td><a href="">Букет</a></td>
      <td>&mdash;</td>
      <td>Фёкла</td>
    </tr>
    <tr>
      <td><a href="">Гамлет</a></td>
      <td>&mdash;</td>
      <td>Первый актёр</td>
    </tr>
    <tr>
      <td><a href="">Группа ликования</a></td>
      <td>&mdash;</td>
      <td>Борис Кочубей</td>
    </tr>
    <tr>
      <td><a href="">Два плюс два</a></td>
      <td>&mdash;</td>
      <td>Толик</td>
    </tr>
    <tr>
      <td><a href="">Женитьба</a></td>
      <td>&mdash;</td>
      <td>Анучкин, отставной пехотный офицер</td>
    </tr>
  </table>
</div>
{% endblock %}