{% extends "_layout.html" %}
{% block title %}Афиша{% endblock %}
{% block page %}
<div class="o-container c-afisha">
  <div class="c-afisha__blot"></div>
  <div class="e-header c-afisha__header">Афиша</div>
  <div class="c-line-calendar">
    <div class="o-two-side">
      <div class="c-line-calendar__month c-line-calendar__month_selected">Октябрь</div>
      <div class="c-line-calendar__month">Ноябрь</div>
      <a href="" class="c-line-calendar__link e-link">
        <svg class="icon is-download">
          <use xlink:href="#download" />
        </svg>
        Скачать афишу
      </a>
    </div>
    <div class="c-line-calendar__days">
      <div class="c-line-calendar__arrow c-line-calendar__arrow_left rotate-180 js-arrow-days-prev">
        <svg class="icon is-next">
          <use xlink:href="#next" />
        </svg>
      </div>
      <div class="c-line-calendar__arrow c-line-calendar__arrow_right js-arrow-days-next">
        <svg class="icon is-next">
          <use xlink:href="#next" />
        </svg>
      </div>
      <div class="js-days-slider">
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">1</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">2</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">3</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">4</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">5</span></div>
        <div class="c-line-calendar__day is-selected"><span class="c-line-calendar__day-item">6</span></div>
        <div class="c-line-calendar__day is-selected"><span class="c-line-calendar__day-item">7</span></div>
        <div class="c-line-calendar__day is-selected"><span class="c-line-calendar__day-item">8</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">9</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">10</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">11</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">12</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">13</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">14</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">15</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">16</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">17</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">18</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">19</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">20</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">21</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">22</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">23</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">24</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">25</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">26</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">27</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">28</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">29</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">30</span></div>
        <div class="c-line-calendar__day"><span class="c-line-calendar__day-item">31</span></div>
      </div>
    </div>
  </div>

  <div class="c-filter c-filter_afisha">
    <div class="c-filter__title">
      <input class="js-filter-collapsed" type="checkbox" id="filter-collapsed">
      <label for="filter-collapsed">Выбрать по критериям
          <svg class="icon is-next c-filter-arrow">
            <use xlink:href="#next" />
          </svg>
      </label>
    </div>
    <div class="c-filter__content">
      <fieldset>
        <legend>Жанр</legend>
        <div class="c-filter__column">
          <input type="radio" id="genre-all" name="genre" value="genre-all">
          <label for="genre-all">Все</label>
          <input type="radio" id="genre-tragicomedy" name="genre" value="genre-tragicomedy">
          <label for="genre-tragicomedy">Трагикомедия</label>
          <input type="radio" id="genre-comedy" name="genre" value="genre-comedy">
          <label for="genre-comedy">Комедия</label>

          <input type="radio" id="genre-tragedy" name="genre" value="genre-tragedy">
          <label for="genre-tragedy">Трагедия</label>
          <input type="radio" id="genre-mono" name="genre" value="genre-mono">
          <label for="genre-mono">Моноспектакль</label>
          <input type="radio" id="genre-drama" name="genre" value="genre-drama">
          <label for="genre-drama">Драма</label>
        </div>
      </fieldset>
      <fieldset>
        <legend>Пьеса</legend>
        <div class="c-filter__column">
          <input type="radio" id="play-all" name="play" value="play-all">
          <label for="play-all">Все</label>
          <input type="radio" id="play-foreign" name="play" value="play-foreign">
          <label for="play-foreign">Зарубежная драматургия</label>

          <input type="radio" id="play-modern" name="play" value="play-modern">
          <label for="play-modern">Современная драматургия</label>
          <input type="radio" id="play-classic" name="play" value="play-classic">
          <label for="play-classic">Классика</label>

          <input type="radio" id="play-nk" name="play" value="play-nk">
          <label for="play-nk">Пьесы Николая Коляды</label>
        </div>
      </fieldset>
      <fieldset>
        <legend>Возраст</legend>
        <div class="c-filter__column">
          <input type="radio" id="age-all" name="age" value="age-all">
          <label for="age-all">Все</label>
          <input type="radio" id="age-adult" name="age" value="age-adult">
          <label for="age-adult">Для взрослых</label>
          <input type="radio" id="age-children" name="age" value="age-children">
          <label for="age-children">Для детей</label>

          <input type="radio" id="age-family" name="age" value="age-family">
          <label for="age-family">Для семейного просмотра</label>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="c-schedule">
    <div class="c-schedule__day">
      <div class="c-schedule__date">
        <span class="align-right">6 октября<br>четверг</span>
      </div>
      <div class="c-schedule__items">
        <div class="c-schedule__item">
          <div class="c-schedule__img c-schedule__img_label-color_blue" data-label="Премьера"><img src="https://unsplash.it/200/300" alt=""></div>
          <div class="c-schedule__info">
            <div class="c-schedule__time">
              <div class="o-time">
                <svg class="icon is-time o-time__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
                </svg>19:00</div>
            </div>
            <a href="" class="c-schedule__name e-link e-link_block">Кошка на раскаленной крыше</a>
            <div class="c-schedule__author">Михаил Себастьян</div>
            <div class="c-schedule__text">Сентиментальная комедия в двух действияхдля детей старше 6-ти лет (6+)</div>
            <div class="c-schedule__duration">2 часа 20 минут с антрактами</div>
          </div>
          <div class="c-schedule__buttons"><a href="" class="e-button-link e-button-link_bordered c-schedule__more-button">Подробнее</a><a href="" class="e-button-link c-schedule__buy-tickets e-button-link_orange">Купить билеты</a></div>
        </div>
        <div class="c-schedule__item">
          <div class="c-schedule__img c-schedule__img_label-color_purple" data-label="Гастроли"><img src="https://unsplash.it/200/300" alt=""></div>
          <div class="c-schedule__info">
            <div class="c-schedule__time">
              <div class="o-time">
                <svg class="icon is-time o-time__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
                </svg>19:00</div>
            </div>
            <a href="" class="c-schedule__name e-link e-link_block">Кошка на раскаленной крыше</a>
            <div class="c-schedule__author">Михаил Себастьян</div>
            <div class="c-schedule__text">Сентиментальная комедия в двух действияхдля детей старше 6-ти лет (6+)</div>
            <div class="c-schedule__duration">2 часа 20 минут с антрактами</div>
          </div>
          <div class="c-schedule__buttons"><a href="" class="e-button-link e-button-link_bordered c-schedule__more-button">Подробнее</a><a href="" class="e-button-link c-schedule__buy-tickets e-button-link_orange">Купить билеты</a></div>
        </div>
        <div class="c-schedule__item">
          <div class="c-schedule__img"><img src="https://unsplash.it/200/300" alt=""></div>
          <div class="c-schedule__info">
            <div class="c-schedule__time">
              <div class="o-time">
                <svg class="icon is-time o-time__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
                </svg>19:00</div>
            </div>
            <a href="" class="c-schedule__name e-link e-link_block">Кошка на раскаленной крыше</a>
            <div class="c-schedule__author">Михаил Себастьян</div>
            <div class="c-schedule__text">Сентиментальная комедия в двух действияхдля детей старше 6-ти лет (6+)</div>
            <div class="c-schedule__duration">2 часа 20 минут с антрактами</div>
          </div>
          <div class="c-schedule__buttons"><a href="" class="e-button-link e-button-link_bordered c-schedule__more-button">Подробнее</a><a href="" class="e-button-link c-schedule__buy-tickets e-button-link_orange">Купить билеты</a></div>
        </div>
      </div>
    </div>
    <div class="c-schedule__day">
      <div class="c-schedule__date">
        <span class="align-right">7 октября<br>среда</span>
      </div>
      <div class="c-schedule__items">
        <div class="c-schedule__item">
          <div class="c-schedule__img"><img src="https://unsplash.it/200/300" alt=""></div>
          <div class="c-schedule__info">
            <div class="c-schedule__time">
              <div class="o-time">
                <svg class="icon is-time o-time__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
                </svg>19:00</div>
            </div>
            <a href="" class="c-schedule__name e-link e-link_block">Кошка на раскаленной крыше</a>
            <div class="c-schedule__author">Михаил Себастьян</div>
            <div class="c-schedule__text">Сентиментальная комедия в двух действияхдля детей старше 6-ти лет (6+)</div>
            <div class="c-schedule__duration">2 часа 20 минут с антрактами</div>
          </div>
          <div class="c-schedule__buttons"><a href="" class="e-button-link e-button-link_bordered c-schedule__more-button">Подробнее</a><a href="" class="e-button-link c-schedule__buy-tickets e-button-link_orange">Купить билеты</a></div>
        </div>
        <div class="c-schedule__item">
          <div class="c-schedule__img"><img src="https://unsplash.it/200/300" alt=""></div>
          <div class="c-schedule__info">
            <div class="c-schedule__time">
              <div class="o-time">
                <svg class="icon is-time o-time__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
                </svg>19:00</div>
            </div>
            <a href="" class="c-schedule__name e-link e-link_block">Кошка на раскаленной крыше</a>
            <div class="c-schedule__author">Михаил Себастьян</div>
            <div class="c-schedule__text">Сентиментальная комедия в двух действияхдля детей старше 6-ти лет (6+)</div>
            <div class="c-schedule__duration">2 часа 20 минут с антрактами</div>
          </div>
          <div class="c-schedule__buttons"><a href="" class="e-button-link e-button-link_bordered c-schedule__more-button">Подробнее</a><a href="" class="e-button-link c-schedule__buy-tickets e-button-link_orange">Купить билеты</a></div>
        </div>
        <div class="c-schedule__item">
          <div class="c-schedule__img"><img src="https://unsplash.it/200/300" alt=""></div>
          <div class="c-schedule__info">
            <div class="c-schedule__time">
              <div class="o-time">
                <svg class="icon is-time o-time__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
                </svg>19:00</div>
            </div>
            <a href="" class="c-schedule__name e-link e-link_block">Кошка на раскаленной крыше</a>
            <div class="c-schedule__author">Михаил Себастьян</div>
            <div class="c-schedule__text">Сентиментальная комедия в двух действияхдля детей старше 6-ти лет (6+)</div>
            <div class="c-schedule__duration">2 часа 20 минут с антрактами</div>
          </div>
          <div class="c-schedule__buttons"><a href="" class="e-button-link e-button-link_bordered c-schedule__more-button">Подробнее</a><a href="" class="e-button-link c-schedule__buy-tickets e-button-link_orange">Купить билеты</a></div>
        </div>
      </div>
    </div>
    <div class="c-schedule__day">
      <div class="c-schedule__date">
        <span class="align-right">8 октября<br>пятница</span>
      </div>
      <div class="c-schedule__items">
        <div class="c-schedule__item">
          <div class="c-schedule__img"><img src="https://unsplash.it/200/300" alt=""></div>
          <div class="c-schedule__info">
            <div class="c-schedule__time">
              <div class="o-time">
                <svg class="icon is-time o-time__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
                </svg>19:00</div>
            </div>
            <a href="" class="c-schedule__name e-link e-link_block">Кошка на раскаленной крыше</a>
            <div class="c-schedule__author">Михаил Себастьян</div>
            <div class="c-schedule__text">Сентиментальная комедия в двух действияхдля детей старше 6-ти лет (6+)</div>
            <div class="c-schedule__duration">2 часа 20 минут с антрактами</div>
          </div>
          <div class="c-schedule__buttons"><a href="" class="e-button-link e-button-link_bordered c-schedule__more-button">Подробнее</a><a href="" class="e-button-link c-schedule__buy-tickets e-button-link_orange">Купить билеты</a></div>
        </div>
        <div class="c-schedule__item">
          <div class="c-schedule__img"><img src="https://unsplash.it/200/300" alt=""></div>
          <div class="c-schedule__info">
            <div class="c-schedule__time">
              <div class="o-time">
                <svg class="icon is-time o-time__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
                </svg>19:00</div>
            </div>
            <a href="" class="c-schedule__name e-link e-link_block">Кошка на раскаленной крыше</a>
            <div class="c-schedule__author">Михаил Себастьян</div>
            <div class="c-schedule__text">Сентиментальная комедия в двух действияхдля детей старше 6-ти лет (6+)</div>
            <div class="c-schedule__duration">2 часа 20 минут с антрактами</div>
          </div>
          <div class="c-schedule__buttons"><a href="" class="e-button-link e-button-link_bordered c-schedule__more-button">Подробнее</a><a href="" class="e-button-link c-schedule__buy-tickets e-button-link_orange">Купить билеты</a></div>
        </div>
        <div class="c-schedule__item">
          <div class="c-schedule__img"><img src="https://unsplash.it/200/300" alt=""></div>
          <div class="c-schedule__info">
            <div class="c-schedule__time">
              <div class="o-time">
                <svg class="icon is-time o-time__icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
                </svg>19:00</div>
            </div>
            <a href="" class="c-schedule__name e-link e-link_block">Кошка на раскаленной крыше</a>
            <div class="c-schedule__author">Михаил Себастьян</div>
            <div class="c-schedule__text">Сентиментальная комедия в двух действияхдля детей старше 6-ти лет (6+)</div>
            <div class="c-schedule__duration">2 часа 20 минут с антрактами</div>
          </div>
          <div class="c-schedule__buttons"><a href="" class="e-button-link e-button-link_bordered c-schedule__more-button">Подробнее</a><a href="" class="e-button-link c-schedule__buy-tickets e-button-link_orange">Купить билеты</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}