{% extends "_layout.html" %}
{% block title %}Контакты{% endblock %}
{% block page %}
<div class="o-container">
  <div class="c-contacts__title">Контакты</div>
  <div id="map" style="height:380px"></div>
  <div class="c-contacts__firm">Неккомерческое партнёрство «Коляда-Театр»</div>
  <div class="c-contacts__small-text">Адрес: 620062 г. Екатеринбург, пр. Ленина, 97</div>
</div>
<div class="o-container">
  <div class="c-contacts__title">Билетная касса</div>
  <div class="c-contacts__small-text">
    Часы работы: ежедневно с 10:00 до 20:00<br>
    E-mail: <a class="c-contracts__mail-link"href="mailto:kolyada-teatr@sky.ru">kolyada-teatr@sky.ru</a>
  </div>
    <div class="c-contracts__item">
      <div class="c-contracts-item__img">
        <img src="https://unsplash.it/165/245" width="165" height="245" alt="Наталья Константиновна Фильченко">
      </div>
        <div class="c-contracts-item__info">
          <div class="c-contracts-item__name">
            Наталья<br>
            Константиновна<br>
            Фильченко
          </div>
          <div class="c-contacts__small-text">Кассир</div>
        </div>
    </div>
</div>
<div class="o-container">
  <div class="c-contacts__title">Админинстрация</div>
  <div class="c-contacts__small-text">
    Телефон: + 7 (343) 359-80-22<br>
    E-mail: <a class="c-contracts__mail-link"href="mailto:kolyada-teatr@sky.ru">kolyada-teatr@sky.ru</a>
  </div>
  <div class="o-grid o-grid_multirow">
    <div class="o-grid__cell c-contracts__item">
      <div class="c-contracts-item__img">
        <img src="https://unsplash.it/165/245" width="165" height="245" alt="Наталья Константиновна Фильченко">
      </div>
      <div class="c-contracts-item__info">
        <div class="c-contracts-item__name">
          Эка<br>
          Вашакидзе
        </div>
        <div class="c-contacts__small-text">
          Главный администратор,
          заведующая труппой
        </div>
        <a class="c-contracts__mail-link"href="mailto:ekavashakidze@yandex.ru">ekavashakidze@yandex.ru</a>
      </div>
    </div>

    <div class="o-grid__cell c-contracts__item">
      <div class="c-contracts-item__img">
        <img src="https://unsplash.it/165/245" width="165" height="245" alt="Наталья Константиновна Фильченко">
      </div>
      <div class="c-contracts-item__info">
        <div class="c-contracts-item__name">
          Елена <br> Гецевич
        </div>
        <div class="c-contacts__small-text">Координатор проектов</div>
        <a  class="c-contracts__mail-link"href="mailto:elena.getsevich@gmail.com">elena.getsevich@gmail.com</a>
      </div>
    </div>

    <div class="o-grid__cell c-contracts__item">
      <div class="c-contracts-item__img">
        <img src="https://unsplash.it/165/245" width="165" height="245" alt="Наталья Константиновна Фильченко">
      </div>
      <div class="c-contracts-item__info">
        <div class="c-contracts-item__name">
          Анастасия<br>
          Энтина
        </div>
        <div class="c-contacts__small-text">Администратор, заведующая билетным хозяйством</div>
        <a  class="c-contracts__mail-link"href="mailto:ekavashakidze@yandex.ru">ekavashakidze@yandex.ru</a>
      </div>
    </div>

    <div class="o-grid__cell c-contracts__item">
      <div class="c-contracts-item__img">
        <img src="https://unsplash.it/165/245" width="165" height="245" alt="Наталья Константиновна Фильченко">
      </div>
      <div class="c-contracts-item__info">
        <div class="c-contracts-item__name">
          Евгений<br>
          Чистяков
        </div>
        <div class="c-contacts__small-text">Заместитель директора</div>
        <a  class="c-contracts__mail-link"href="mailto:elena.getsevich@gmail.com">elena.getsevich@gmail.com</a>
      </div>
    </div>

    <div class="o-grid__cell c-contracts__item">
      <div class="c-contracts-item__img">
        <img src="https://unsplash.it/165/245" width="165" height="245" alt="Наталья Константиновна Фильченко">
      </div>
      <div class="c-contracts-item__info">
        <div class="c-contracts-item__name">
          Николай<br>Владимирович<br>Коляда
        </div>
        <div class="c-contacts__small-text">Директор и художественныйруководитель</div>
        <div class="c-contacts__small-text">+7 (343) 371-09-39</div>
        <a  class="c-contracts__mail-link"href="mailto:kolyada@sky.ru">kolyada@sky.ru</a>
      </div>
    </div>
  </div>
</div>
<div class="o-container">
  <div class="c-contacts__title">Художественно-постановочная часть</div>

  <div class="o-grid o-grid_multirow">
    <div class="o-grid__cell c-contracts__item">
      <div class="c-contracts-item__img">
        <img src="https://unsplash.it/165/245" width="165" height="245" alt="Наталья Константиновна Фильченко">
      </div>
      <div class="c-contracts-item__info">
        <div class="c-contracts-item__name">
          Артём<br>
          Хабибулин
        </div>
        <div class="c-contacts__small-text">
          Заведующий художественно-постановочной частью
        </div>
        <a class="c-contracts__mail-link"href="mailto:elena.getsevich@gmail.com">elena.getsevich@gmail.com</a>
      </div>
    </div>

    <div class="o-grid__cell c-contracts__item">
      <div class="c-contracts-item__img">
        <img src="https://unsplash.it/165/245" width="165" height="245" alt="Наталья Константиновна Фильченко">
      </div>
      <div class="c-contracts-item__info">
        <div class="c-contracts-item__name">
          Денис<br>Новосёлов
        </div>
        <div class="c-contacts__small-text">
          Художник по свету
        </div>
        <a class="c-contracts__mail-link"href="mailto:elena.getsevich@gmail.com">elena.getsevich@gmail.com</a>
      </div>
    </div>

    <div class="o-grid__cell c-contracts__item">
      <div class="c-contracts-item__img">
        <img src="https://unsplash.it/165/245" width="165" height="245" alt="Наталья Константиновна Фильченко">
      </div>
      <div class="c-contracts-item__info">
        <div class="c-contracts-item__name">
          Афина<br>Фотова
        </div>
        <div class="c-contacts__small-text">
          Светооператор
        </div>
        <a class="c-contracts__mail-link"href="mailto:info@kolyada-theare.ru">info@kolyada-theare.ru</a>
      </div>
    </div>

    <div class="o-grid__cell c-contracts__item">
      <div class="c-contracts-item__img">
        <img src="https://unsplash.it/165/245" width="165" height="245" alt="Наталья Константиновна Фильченко">
      </div>
      <div class="c-contracts-item__info">
        <div class="c-contracts-item__name">
          Иван<br>Собюолев
        </div>
        <div class="c-contacts__small-text">
          Звукооператор
        </div>
        <a class="c-contracts__mail-link"href="mailto:ekavashakidze@yandex.ru">ekavashakidze@yandex.ru</a>
      </div>
    </div>

    <div class="o-grid__cell c-contracts__item">
      <div class="c-contracts-item__img">
        <img src="https://unsplash.it/165/245" width="165" height="245" alt="Наталья Константиновна Фильченко">
      </div>
      <div class="c-contracts-item__info">
        <div class="c-contracts-item__name">
          Тарас<br>Поддубный
        </div>
        <div class="c-contacts__small-text">
          Помощник режиссёра
        </div>
      </div>
    </div>

    <div class="o-grid__cell c-contracts__item">
      <div class="c-contracts-item__img">
        <img src="https://unsplash.it/165/245" width="165" height="245" alt="Наталья Константиновна Фильченко">
      </div>
      <div class="c-contracts-item__info">
        <div class="c-contracts-item__name">
          Антонина<br>Пархоменко
        </div>
        <div class="c-contacts__small-text">
          Реквизитор
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
