{% extends "_layout.html" %}
{% block title %}Спектакль{% endblock %}
{% block page %}
<div class="o-container-wide c-performance_background">
  <div class="o-container">
    <div class="c-performance-title__name">
      Баба Шанель
    </div>
    <div class="c-performance-title__producer">
      Николай Коляда
    </div>
    <div class="c-performance-title__bottom">
      <div class="c-performance-title__description">
        Комедия в двух действиях (18+)    |   2 часа 20 минут с антрактом
      </div>
      <div class="c-performance-title__date">
        Премьера состоялась 30 мая 2011 года
      </div>
    </div>
  </div>
</div>
<div class="o-container">
  <div class="js-perfomnace-schedule-slider">
    <div class="perf-schedule-sldr-item">
      <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
      <div class="perf-schedule-sldr-item__time o-time">19:00</div>
      <a href="" class="e-button-link e-button-link_orange">Билеты</a>
    </div>
    <div class="perf-schedule-sldr-item">
      <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
      <div class="perf-schedule-sldr-item__time o-time">19:00</div>
      <a href="" class="e-button-link e-button-link_orange">Билеты</a>
    </div>
    <div class="perf-schedule-sldr-item">
      <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
      <div class="perf-schedule-sldr-item__time o-time">19:00</div>
      <a href="" class="e-button-link e-button-link_orange">Билеты</a>
    </div>
    <div class="perf-schedule-sldr-item">
      <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
      <div class="perf-schedule-sldr-item__time o-time">19:00</div>
      <a href="" class="e-button-link e-button-link_orange">Билеты</a>
    </div>
    <div class="perf-schedule-sldr-item">
      <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
      <div class="perf-schedule-sldr-item__time o-time">19:00</div>
      <a href="" class="e-button-link e-button-link_orange">Билеты</a>
    </div>
    <div class="perf-schedule-sldr-item">
      <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
      <div class="perf-schedule-sldr-item__time o-time">19:00</div>
      <a href="" class="e-button-link e-button-link_orange">Билеты</a>
    </div>
    <div class="perf-schedule-sldr-item">
      <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
      <div class="perf-schedule-sldr-item__time o-time">19:00</div>
      <a href="" class="e-button-link e-button-link_orange">Билеты</a>
    </div>
    <div class="perf-schedule-sldr-item">
      <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
      <div class="perf-schedule-sldr-item__time o-time">19:00</div>
      <a href="" class="e-button-link e-button-link_orange">Билеты</a>
    </div>
  </div>
</div>
<div class="o-container-wide c-slider c-slider_actor">
  <div class="js-actor-slider">
    <div class="c-slider-img">
      <img class="c-slider-img__el" src="https://unsplash.it/1123/473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
    <div class="c-slider-img">
      <img  class="c-slider-img__el" src="https://unsplash.it/500/473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
    <div class="c-slider-img">
      <img  class="c-slider-img__el" src="https://unsplash.it/2000/473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
    <div class="c-slider-img">
      <img  class="c-slider-img__el" src="https://unsplash.it/800/473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
    <div class="c-slider-img">
      <img  class="c-slider-img__el" src="https://unsplash.it/650/1473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
  </div>
  <div class="c-slider-arrow c-slider-arrow_left rotate-180 js-arrow-prev">
    <svg class="icon is-next2">
      <use xlink:href="#next2" />
    </svg>
  </div>
  <div class="c-slider-arrow c-slider-arrow_right js-arrow-next">
    <svg class="icon is-next2">
      <use xlink:href="#next2" />
    </svg>
  </div>
</div>
<div class="o-container js-actor-slider-nav c-photo-previews">
  <div class="c-photo-previews__item" data-slide="0"><img src="https://unsplash.it/1123/473" alt=""></div>
  <div class="c-photo-previews__item" data-slide="1"><img src="https://unsplash.it/500/473" alt=""></div>
  <div class="c-photo-previews__item" data-slide="2"><img src="https://unsplash.it/2000/473" alt=""></div>
  <div class="c-photo-previews__item" data-slide="3"><img src="https://unsplash.it/800/473" alt=""></div>
  <div class="c-photo-previews__item" data-slide="4"><img src="https://unsplash.it/650/1473" alt=""></div>
</div>
<div class="o-container">
  <div class="c-slider с-many-items-slider с-many-items-slider_perfomances">
    <div class="js-all-perfomances-slider">
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Борис Годунов
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Большая советская <br> энциклопедия
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Вишневый сад
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Нежность
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Вишневый сад
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Большая советская <br> энциклопедия
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Борис Годунов
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Большая советская <br> энциклопедия
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Вишневый сад
          </div>
        </div>
      </div>
    </div>
    <div class="c-slider-arrow rotate-180 js-arrow-perf-prev с-many-items-slider__arrow с-many-items-slider__arrow_left">
      <svg class="icon is-next2-black">
        <use xlink:href="#next2" />
      </svg>
    </div>
    <div class="c-slider-arrow js-arrow-perf-next с-many-items-slider__arrow с-many-items-slider__arrow_right">
      <svg class="icon is-next2-black">
        <use xlink:href="#next2" />
      </svg>
    </div>
  </div>
</div>

{% endblock %}
