{% extends "_layout.html" %}
{% block title %}Спектакль{% endblock %}
{% block page %}
<div class="o-container-wide c-performance_background">
  <div class="o-container c-performance-title">
    <div class="c-performance-title__name">
      Баба Шанель
    </div>
    <div class="c-performance-title__producer">
      Николай Коляда
    </div>
    <div class="c-performance-title__bottom">
      <div class="c-performance-title__description">
        Комедия в двух действиях (18+) | 2 часа 20 минут с антрактом
      </div>
      <div class="c-performance-title__date">
        Премьера состоялась 30 мая 2011 года
      </div>
    </div>
  </div>
</div>
<div class="o-container">
  <div class="perf-schedule-sldr">
    <div class="c-slider-arrow c-slider-arrow_left rotate-180 js-arrow-prev-2">
      <svg class="icon is-next">
        <use xlink:href="#next" />
      </svg>
    </div>
    <div class="c-slider-arrow c-slider-arrow_right js-arrow-next-2">
      <svg class="icon is-next">
        <use xlink:href="#next" />
      </svg>
    </div>
    <div class="js-perfomnace-schedule-slider">
      <div class="perf-schedule-sldr-item">
        <div class="perf-schedule-sldr-item__inner">
          <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
          <div class="perf-schedule-sldr-item__time o-time">
            <svg class="icon is-time o-time__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
            </svg>
            19:00
          </div>
          <a href="" class="e-button-link e-button-link_orange">Купить билеты</a>
        </div>
      </div>
      <div class="perf-schedule-sldr-item">
        <div class="perf-schedule-sldr-item__inner">
          <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
          <div class="perf-schedule-sldr-item__time o-time">
            <svg class="icon is-time o-time__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
            </svg>
            19:00
          </div>
          <a href="" class="e-button-link e-button-link_orange">Купить билеты</a>
        </div>
      </div>
      <div class="perf-schedule-sldr-item">
        <div class="perf-schedule-sldr-item__inner">
          <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
          <div class="perf-schedule-sldr-item__time o-time">
            <svg class="icon is-time o-time__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
            </svg>
            19:00
          </div>
          <a href="" class="e-button-link e-button-link_orange">Купить билеты</a>
        </div>
      </div>
      <div class="perf-schedule-sldr-item">
        <div class="perf-schedule-sldr-item__inner">
          <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
          <div class="perf-schedule-sldr-item__time o-time">
            <svg class="icon is-time o-time__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
            </svg>
            19:00
          </div>
          <a href="" class="e-button-link e-button-link_orange">Купить билеты</a>
        </div>
      </div>
      <div class="perf-schedule-sldr-item">
        <div class="perf-schedule-sldr-item__inner">
          <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
          <div class="perf-schedule-sldr-item__time o-time">
            <svg class="icon is-time o-time__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
            </svg>
            19:00
          </div>
          <a href="" class="e-button-link e-button-link_orange">Купить билеты</a>
        </div>
      </div>
      <div class="perf-schedule-sldr-item">
        <div class="perf-schedule-sldr-item__inner">
          <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
          <div class="perf-schedule-sldr-item__time o-time">
            <svg class="icon is-time o-time__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
            </svg>
            19:00
          </div>
          <a href="" class="e-button-link e-button-link_orange">Купить билеты</a>
        </div>
      </div>
      <div class="perf-schedule-sldr-item">
        <div class="perf-schedule-sldr-item__inner">
          <div class="perf-schedule-sldr-item__day">5 октября, среда</div>
          <div class="perf-schedule-sldr-item__time o-time">
            <svg class="icon is-time o-time__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
            </svg>
            19:00
          </div>
          <a href="" class="e-button-link e-button-link_orange">Купить билеты</a>
        </div>
      </div>
      <div class="perf-schedule-sldr-item">
        <div class="perf-schedule-sldr-item__inner">
          <div class="perf-schedule-sldr-item__day">5 октября, воскресенье</div>
          <div class="perf-schedule-sldr-item__time o-time">
            <svg class="icon is-time o-time__icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use>
            </svg>
            19:00
          </div>
          <a href="" class="e-button-link e-button-link_orange">Купить билеты</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="o-container-wide">
  <div class="o-container clearfix c-performance__about">
    <div class="c-performance-about__title"> О спектакле </div>
    <div class="c-performance-about__photo"><img src="../img/p1_title.jpg" alt="" width="306" height="433"></div>
    <div class="c-performance-about__content">
      <p>
        Жанна, её сын Костя и её мама Софья Карловна продали свою старую квартиру «новымрусским». В их квартире на первом этаже, где прошла огромная жизнь с печалями и радостями, будет теперь ресторан. В день переезда из старой квартиры в новую исполняется
        17 лет со дня смерти дочери Жанны Нины. По странному стечению обстоятельств, квартиру их купила тоже Нина и ей столько же лет, сколько было бы той Нине, сестре Кости. Встреча этих людей – Костии Нины – в основе пьесы. Какова цена жизни и стоит ли
        жить, когда человек превращаетсяв подобие человека?
      </p>
      <div class="c-performance-consist">
        <div class="c-performance-consist__title">
          Действующие лица и исполнители
        </div>
        <table class="c-performance-consist__table">
          <tr>
            <td>Нина</td>
            <td>&mdash;</td>
            <td>заслуженная артистка РФ <a class="c-performance-table__link" href="">Ирина Ермолова</a></td>
          </tr>
          <tr>
            <td>
              Аркадий
              <span class="c-performance-table__who">муж Нины</span>
            </td>
            <td>&mdash;</td>
            <td>
              <a class="c-performance-table__link" href="">Сергей Колесов</a>,
              <a class="c-performance-table__link" href="">Александр Сысоев</a></td>
          </tr>
          <tr>
            <td>Костя</td>
            <td>&mdash;</td>
            <td>заслуженный артист РФ <a class="c-performance-table__link" href="">Олег Ягодин</a></td>
          </tr>
          <tr>
            <td>
              Софья Карловна
              <span class="c-performance-table__who">бабушка Кости</span>
            </td>
            <td>&mdash;</td>
            <td>
              <a class="c-performance-table__link" href="">Тамара Зимина</a>
            </td>
          </tr>
          <tr>
            <td>
              Жанна
              <span class="c-performance-table__who">её дочь, мама Кости</span>
            </td>
            <td>&mdash;</td>
            <td>
              <a class="c-performance-table__link" href="">Светлана Колесова</a>
            </td>
          </tr>
          <tr>
            <td>
              Григорий Иванович
              <span class="c-performance-table__who">их сосед</span>
            </td>
            <td>&mdash;</td>
            <td>
              заслуженный артист РФ <a class="c-performance-table__link" href="">Сергей Фёдоров</a></td>
          </tr>
          <tr>
            <td>
              Паша
              <span class="c-performance-table__who">приятель Кости</span>
            </td>
            <td>&mdash;</td>
            <td>
              <a class="c-performance-table__link" href="">Евгений Чистяков</a></td>
          </tr>
          <tr>
            <td>
              Тапёр
            </td>
            <td>&mdash;</td>
            <td>
              <a class="c-performance-table__link" href="">Сергей Колесов</a>,
              <a class="c-performance-table__link" href="">Александр Сысоев</a></td>
          </tr>
          <tr>
            <td>
              Мальчики-хлебопёки
              <span class="c-performance-table__who">муж Нины</span>
            </td>
            <td>&mdash;</td>
            <td>
              <a class="c-performance-table__link" href="">Илья Белов</a>,
              <a class="c-performance-table__link" href="">Антон Макушин</a>,
              <a class="c-performance-table__link" href="">Ринат Ташимов</a>,
              <a class="c-performance-table__link" href="">Евгений Чистяков</a>
            </td>
          </tr>
        </table>
        <div class="c-performance-producer-title">
          Постановка, сценография,<br>музыкальное оформление
        </div>
        <div class="c-performance-producer-name">
          <a class="c-performance-producer-link" href="">
            Николай Коляда
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="o-container-wide c-slider c-slider_actor">
  <div class="js-actor-slider">
    <div class="c-slider-img">
      <img class="c-slider-img__el" src="https://unsplash.it/1123/473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
    <div class="c-slider-img">
      <img  class="c-slider-img__el" src="https://unsplash.it/500/473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
    <div class="c-slider-img">
      <img  class="c-slider-img__el" src="https://unsplash.it/2000/473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
    <div class="c-slider-img">
      <img  class="c-slider-img__el" src="https://unsplash.it/800/473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
    <div class="c-slider-img">
      <img  class="c-slider-img__el" src="https://unsplash.it/650/1473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
  </div>
  <div class="c-slider-arrow c-slider-arrow_left rotate-180 js-arrow-prev">
    <svg class="icon is-next2">
      <use xlink:href="#next2" />
    </svg>
  </div>
  <div class="c-slider-arrow c-slider-arrow_right js-arrow-next">
    <svg class="icon is-next2">
      <use xlink:href="#next2" />
    </svg>
  </div>
</div>
<div class="o-container js-actor-slider-nav c-photo-previews">
  <div class="c-photo-previews__item" data-slide="0" tabIndex="0"><img src="https://unsplash.it/1123/473" alt=""></div>
  <div class="c-photo-previews__item" data-slide="1" tabIndex="1"><img src="https://unsplash.it/500/473" alt=""></div>
  <div class="c-photo-previews__item" data-slide="2" tabIndex="2"><img src="https://unsplash.it/2000/473" alt=""></div>
  <div class="c-photo-previews__item" data-slide="3" tabIndex="3"><img src="https://unsplash.it/800/473" alt=""></div>
  <div class="c-photo-previews__item" data-slide="4" tabIndex="4"><img src="https://unsplash.it/650/1473" alt=""></div>
</div>
<div class="c-performance_center-text">
  <a class="e-button-link  e-button-link_bordered e-button-link_center-block c-performance__all-photo" href="#">Все фото</a>
</div>
<div class="o-container">
  <div class="c-performance-about__title">Награды и фестивали</div>
  <ul class="c-performance-honors__list">
    <li>Номинант премии «Золотая маска» в номинации «Драма —Спектакль большой формы», 2009</li>
    <li>«Vonteenin Valssi», Финляндия, 2007</li>
    <li>«Норильские сезоны», Норильск, 2007</li>
    <li>«Большая перемена», Москва, 2007</li>
    <li>Международный фестиваль театров кукол Баренцева региона, Петрозаводск, 2007</li>
    <li>Специальный диплом Анне Викторовой «За лучший авторский спектакль для детей»   на III Международном фестивале «Петрушка Великий» в Екатеринбурге, 2006</li>
  </ul>
  <div class="c-performance-about__title">Пресса</div>
  <div class="c-performance-press">
    <blockquote>
      Как будто все то же. Бесконечная история переходит из одного спектакля в другой. Или даже не история —  сами люди,их разговоры, сам, так сказать, бульон жизни. Ну понятно, авторский театр, авторский мир, но нельзя же, чтобы все эти мамы с дочками, соседи с соседками шли бесконечной чередой, говорили пусть классные («Да кончай ты это утрирование пафосом!»), но похожие тексты, и одинаково ругались, и плакали, и дурили, и умирали… Но что поделать, если выходишьиз театра другим, если опять тебе сказали о чем-то важном, о чем ни с кем не поговоришь, но о чем не говоритьневозможно. Можно обо всем не говорить, только не об этом. Что поделать?"
    </blockquote>
    <cite>
      Амиго – «место» воображаемого<br>
      Галина Брандт, «Петербургский театральный журнал», <br>
      октябрь 2006 г.
    </cite>
    <blockquote>
      Как будто все то же. Бесконечная история переходит из одного спектакля в другой. Или даже не история —  сами люди,их разговоры, сам, так сказать, бульон жизни. Ну понятно, авторский театр, авторский мир, но нельзя же, чтобы все эти мамы с дочками, соседи с соседками шли бесконечной чередой, говорили пусть классные («Да кончай ты это утрирование пафосом!»), но похожие тексты, и одинаково ругались, и плакали, и дурили, и умирали… Но что поделать, если выходишьиз театра другим, если опять тебе сказали о чем-то важном, о чем ни с кем не поговоришь, но о чем не говоритьневозможно. Можно обо всем не говорить, только не об этом. Что поделать?"
    </blockquote>
    <cite>
      Амиго – «место» воображаемого<br>
      Галина Брандт, «Петербургский театральный журнал», <br>
      октябрь 2006 г.
    </cite>
  </div>
  <div class="c-performance-about__title">Весь репертуар</div>
</div>
<div class="o-container">
  <div class="c-slider с-many-items-slider с-many-items-slider_perfomances">
    <div class="js-all-perfomances-slider">
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Борис Годунов
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Большая советская <br> энциклопедия
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Вишневый сад
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Нежность
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Вишневый сад
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Большая советская <br> энциклопедия
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Борис Годунов
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Большая советская <br> энциклопедия
          </div>
        </div>
      </div>
      <div class="с-many-items-slider__slide">
        <div class="с-many-items-slider__slide-content">
          <img class="с-many-items-slider__img" src="https://unsplash.it/260/365">
          <div class="с-many-items-slider__text">
            Вишневый сад
          </div>
        </div>
      </div>
    </div>
    <div class="c-slider-arrow rotate-180 js-arrow-perf-prev с-many-items-slider__arrow с-many-items-slider__arrow_left">
      <svg class="icon is-next2-black">
        <use xlink:href="#next2" />
      </svg>
    </div>
    <div class="c-slider-arrow js-arrow-perf-next с-many-items-slider__arrow с-many-items-slider__arrow_right">
      <svg class="icon is-next2-black">
        <use xlink:href="#next2" />
      </svg>
    </div>
  </div>
</div>

{% endblock %}
