{% extends "_layout.html" %}
{% block title %}О театре{% endblock %}
{% block page %}
<div class="o-container-wide c-tour">
  <div class="o-container">
    <div class="c-theater-tour__name">
      О театре
    </div>
    <div class="c-theater-tour__links">
      <span class="c-theater-tour__link c-theater-tour-link_selected">История</span>
      <a  href="#" class="c-theater-tour__link">Технические характеристики</a>
      <a href="#" class="c-theater__right-tour-link e-button-link  e-button-link_bordered_white ">Виртуальный тур по театру</a>
    </div>
  </div>
</div>
<div class="o-container">
  <div class="e-header c-theater__header">История</div>
  <div class="c-theater__main">
    <div class="c-theater__years">
      <div>
        <span class="c-theater__years-link c-theater__years-link_selected">2001-2004</span>
      </div>
      <div>
        <a href="#" class="c-theater__years-link">2005</a>
      </div>
      <div>
        <a href="#" class="c-theater__years-link">2006</a>
      </div>
      <div>
        <a href="#" class="c-theater__years-link">2007</a>
      </div>
      <div>
        <a href="#" class="c-theater__years-link">2008</a>
      </div>
      <div>
        <a href="#" class="c-theater__years-link">2009</a>
      </div>
      <div>
        <a href="#" class="c-theater__years-link">2010</a>
      </div>
      <div>
        <a href="#" class="c-theater__years-link">2011</a>
      </div>
      <div>
        <a href="#" class="c-theater__years-link">2012</a>
      </div>
      <div>
        <a href="#" class="c-theater__years-link">2013</a>
      </div>
      <div>
        <a href="#" class="c-theater__years-link">2014</a>
      </div>
      <div>
        <a href="#" class="c-theater__years-link">2015</a>
      </div>
    </div>
    <div class="c-theater__history">
      <p>
        Ситуация с помещением, арендуемым «Коляда-Театром», становитсявсё более сложной.
      </p>
      <p>
        «За последние полгода было всё: суды, оккупация здания, ОМОН, баррикады, ультиматумы и взаимная злоба.
        Власть, похоже, не вмешивалась, дожидаясь, как оно само пойдет.
        Сегодня ситуация такова: суд о незаконном «проживании» «Коляда-Театра» в помещении Театра поэзии выигран,
        а власть говорит Коляде одно и то же: мы не властны изменить решение суда». Павел Руднев, «Взгляд», 21.02.2006
      </p>
      <p>
        Тем не менее, театр не сдавался и продолжал функционировать. В апреле Николай Коляда выпускает спектакль «Землемер» по собственной пьесе,
        идёт подготовка к первым большим гастролям «Коляда-Театра» в Москве.
        И в конце мая театр привозит в столицу шесть спектаклей.
      </p>
      <p>
        «В прошлом году на фестивале ”Реальный театр“ мы с огромным успехом сыграли спектакль ”Ревизор“,
        который смотрели сразу четыре эксперта ”Золотой маски“. Нас уверили, что мы на эту самую ”Маску“ поедем – стопроцентов.
        Но потом состоялось заседание экспертного жюри, на котором было сказано о нашем спектакле: ”В Москве это не покатит“.
        Меня это разозлило до смерти. Потому что это обидно не только для меня, но и для Екатеринбурга: мол, в этой дыре всё съедят, а вот у нас в Москве...
        Тогда мы решили, что будем экономить деньги, будем получать маленькую зарплату, но поедем на гастроли в Москву и повезём сразу несколько спектаклей», –
        Н. Коляда, из интервью «Российской газете», 29.05.2006.
      </p>
      <p>
        Интерес к «Коляда-Театру» возрастает, на осень намечены поездки на российские и зарубежные фестивали.
        В июне в репертуаре театра появляется новое название – «Старая зайчиха» (Н. Коляда).
      </p>
      <p>
        Но конфликт с Молодёжным центром поэзии вспыхнул с новой силой. Разразился скандал. «Коляда-Театр» лишился здания.
        Труппа оказалась на улице. «Театр закрывается», – объявил журналистам Николай Коляда.
      </p>
      <p>
        «Гастроли в Москве в конце мая – в начале июня прошли триумфально.
      </p>
      <p>
        Стало ясно, что Коляда на свои собственные деньги, которые получает от успешного проката написанных им пьес и от продажи билетов на спектакли,
        то есть буквально «на коленке» создал настоящий репертуарный театр.
        Воспитал актеров – не каждая столичная труппа может похвастаться такой актрисой, как Ирина Ермолова, или таким, как премьер его труппы Ягодин.
      </p>
      <p>
        И все эти годы театр жил в чужом подвале на птичьих правах. Построил там сцену, играл по тридцать спектаклей в месяц, приручил публику.
        Исправно платил коммунальные платежи. Но когда появились более приглядистые арендаторы, хозяева попросили театр освободить помещение».
        Григорий Заславский, «Независимая газета», 24.07.2006
      </p>
      <p>
        14 июля неизвестные устроили в театре погром: забили все выходы, сломали сцену, закрасили окна белой краской, написали везде «Ремонт».
      </p>
      <p>
        «Мы пришли в помещение, увидели снова всю разруху и решили не сдаваться. Мы объявляем голодовку и не выйдем из театра до тех пор,
        пока вопрос не будет урегулирован», – Николай Коляда.
      </p>
      <p>
        Голодовка продолжалась в течение суток, после чего было получено постановление Арбитражного суда о запрещении Молодёжному центру поэзии выселять «Коляда-театр» до 23 августа, то есть до рассмотрения дела в суде.
      </p>
      <p>
        2 августа «Коляда-Театр» открыл новый сезон.
      </p>
      <p>
        4 августа Николай Коляда получил ключи от нового здания театрана ул. Тургенева, 20.
      </p>
    </div>
    <div class="c-theater__tour">
      <div class="c-theater__tour-name">
        Виртуальный тур<br>по зданию<br>на ул. Тургенева, 20
      </div>
      <a class="c-theater__tour-link e-button-link e-button-link_bordered e-button-link_bordered_white e-button-link_center-block">Пройти</a>
    </div>
  </div>
</div>
<div class="o-container-wide c-slider c-slider_actor c-theater-slider">
  <div class="js-actor-slider">
    <div class="c-slider-img">
      <img class="c-slider-img__el" src="https://unsplash.it/1123/473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
    <div class="c-slider-img">
      <img  class="c-slider-img__el" src="https://unsplash.it/500/473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
    <div class="c-slider-img">
      <img  class="c-slider-img__el" src="https://unsplash.it/2000/473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
    <div class="c-slider-img">
      <img  class="c-slider-img__el" src="https://unsplash.it/800/473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
    <div class="c-slider-img">
      <img  class="c-slider-img__el" src="https://unsplash.it/650/1473">
      <div class="c-slider-img__text o-two-side">
        <span>"Амиго"</span>
        <span>Нина - Ирина Ермолова, Аркадий - Сергей Колесов</span>
      </div>
    </div>
  </div>
  <div class="c-slider-arrow c-slider-arrow_left rotate-180 js-arrow-prev">
    <svg class="icon is-next2">
      <use xlink:href="#next2" />
    </svg>
  </div>
  <div class="c-slider-arrow c-slider-arrow_right js-arrow-next">
    <svg class="icon is-next2">
      <use xlink:href="#next2" />
    </svg>
  </div>
</div>
<div class="o-container js-actor-slider-nav c-photo-previews c-theater-photo-previews">
  <div class="c-photo-previews__item" data-slide="0" tabIndex="0"><img src="https://unsplash.it/1123/473" alt=""></div>
  <div class="c-photo-previews__item" data-slide="1" tabIndex="1"><img src="https://unsplash.it/500/473" alt=""></div>
  <div class="c-photo-previews__item" data-slide="2" tabIndex="2"><img src="https://unsplash.it/2000/473" alt=""></div>
  <div class="c-photo-previews__item" data-slide="3" tabIndex="3"><img src="https://unsplash.it/800/473" alt=""></div>
  <div class="c-photo-previews__item" data-slide="4" tabIndex="4"><img src="https://unsplash.it/650/1473" alt=""></div>
</div>
{% endblock %}
