{% extends "_layout.html" %}
{% block title %}Билеты{% endblock %}
{% block page %}
<div class="o-container c-tickets">
  <div class="e-header c-tickets__header">Как купить билеты</div>
  <div class="c-tickets__content">
    <p>Вы можете приобрести билеты одиним из удобных для вас способов:</p>
    <ul>
      <li>
        В кассе театра по адресу пр. Ленина, 97.<br>
        Касса работает ежедневно с 10:00 до 20:00. Тел. +7 (343) 359-80-22.
      </li>
      <li>
        <p>
          Онлайн в любое удобное для вас время: <br>
          на портале Weburg <br>
          <a href="" class="e-button-link e-button-link_bordered e-button-link_bordered_orange c-tickets__button-link">Купить билеты на Вебурге</a>
        </p>
        <p>
          на сайте Городских зрелищных касс <br>
          <a href="" class="e-button-link e-button-link_bordered e-button-link_bordered_orange c-tickets__button-link">Купить билеты в ГЗК</a>
        </p>
      </li>
      <li>
        В Городских зрелищных кассах в торговых центрах. <br>
        Полный перечень и адреса касс на сайте <a href="http://ekb.kassy.ru/">ekb.kassy.ru</a>.
      </li>
    </ul>
  </div>
  <div class="c-tickets__alert-box">
    <p>При отсутствии билетов в сети Интернет, обязательно уточняйте их наличие <br>в кассе театра. Только часть билетов продаётся онлайн.</p>
  </div>
  <div class="e-header c-tickets__header">Стоимость билетов</div>
  <div class="c-tickets__content">
    <p>
      В «Коляда-Театре» два зала: Малахитовый (120 мест) и Гранатовый (60 мест). Ниже приведён план Малахитового зала и приблизительная стоимость билетов на вечерние спектакли.
    </p>
    <p>
      Схему рассадки и стоимость билетов на спектакли, проходящие в Гранатовом зале, уточняйте в&nbsp;кассе театра.
    </p>
  </div>
  <div class="c-tickets__places">
    <div class="c-hall__links">
      <a href="" class="c-hall__link is-current">Взрослые спектакли</a>
      /
      <a href="" class="c-hall__link">Детские спектакли</a>
      /
      <a href="" class="c-hall__link">Семейные спектакли</a>
    </div>
    <div class="c-plan">
      <div class="c-plan__scene">Сцена</div>
      <div class="c-plan__sep"></div>
      <div class="c-plan__exit">Вход</div>
      <div>
        <div class="c-plan__row">
          <div class="c-plan__row-name">1 ряд</div>
          <div class="c-plan__places">
            <div class="c-plan__place">1</div>
            <div class="c-plan__place">2</div>
            <div class="c-plan__place">3</div>
            <div class="c-plan__place">4</div>
            <div class="c-plan__place">5</div>
            <div class="c-plan__place">6</div>
            <div class="c-plan__place">7</div>
            <div class="c-plan__place">8</div>
            <div class="c-plan__place">9</div>
            <div class="c-plan__place">10</div>
          </div>
          <div class="c-plan__row-name">1 ряд</div>
        </div>
        <div class="c-plan__row">
          <div class="c-plan__row-name">2 ряд</div>
          <div class="c-plan__places">
            <div class="c-plan__place">1</div>
            <div class="c-plan__place">2</div>
            <div class="c-plan__place">3</div>
            <div class="c-plan__place">4</div>
            <div class="c-plan__place">5</div>
            <div class="c-plan__place">6</div>
            <div class="c-plan__place">7</div>
            <div class="c-plan__place">8</div>
            <div class="c-plan__place">9</div>
            <div class="c-plan__place">10</div>
          </div>
          <div class="c-plan__row-name">2 ряд</div>
        </div>
        <div class="c-plan__row">
          <div class="c-plan__row-name">3 ряд</div>
          <div class="c-plan__places">
            <div class="c-plan__place">1</div>
            <div class="c-plan__place">2</div>
            <div class="c-plan__place">3</div>
            <div class="c-plan__place">4</div>
            <div class="c-plan__place">5</div>
            <div class="c-plan__place">6</div>
            <div class="c-plan__place">7</div>
            <div class="c-plan__place">8</div>
            <div class="c-plan__place">9</div>
            <div class="c-plan__place">10</div>
          </div>
          <div class="c-plan__row-name">3 ряд</div>
        </div>
        <div class="c-plan__row">
          <div class="c-plan__row-name">4 ряд</div>
          <div class="c-plan__places">
            <div class="c-plan__place">1</div>
            <div class="c-plan__place">2</div>
            <div class="c-plan__place">3</div>
            <div class="c-plan__place">4</div>
            <div class="c-plan__place">5</div>
            <div class="c-plan__place">6</div>
            <div class="c-plan__place">7</div>
            <div class="c-plan__place">8</div>
            <div class="c-plan__place">9</div>
            <div class="c-plan__place">10</div>
          </div>
          <div class="c-plan__row-name">4 ряд</div>
        </div>
        <div class="c-plan__row">
          <div class="c-plan__row-name">5 ряд</div>
          <div class="c-plan__places">
            <div class="c-plan__place">1</div>
            <div class="c-plan__place">2</div>
            <div class="c-plan__place">3</div>
            <div class="c-plan__place">4</div>
            <div class="c-plan__place">5</div>
            <div class="c-plan__place">6</div>
            <div class="c-plan__place">7</div>
            <div class="c-plan__place">8</div>
            <div class="c-plan__place">9</div>
            <div class="c-plan__place">10</div>
          </div>
          <div class="c-plan__row-name">5 ряд</div>
        </div>
        <div class="c-plan__row">
          <div class="c-plan__row-name">6 ряд</div>
          <div class="c-plan__places">
            <div class="c-plan__place">1</div>
            <div class="c-plan__place">2</div>
            <div class="c-plan__place">3</div>
            <div class="c-plan__place">4</div>
            <div class="c-plan__place">5</div>
            <div class="c-plan__place">6</div>
            <div class="c-plan__place">7</div>
            <div class="c-plan__place">8</div>
            <div class="c-plan__place">9</div>
            <div class="c-plan__place">10</div>
          </div>
          <div class="c-plan__row-name">6 ряд</div>
        </div>
        <div class="c-plan__row">
          <div class="c-plan__row-name">7 ряд</div>
          <div class="c-plan__places">
            <div class="c-plan__place">1</div>
            <div class="c-plan__place">2</div>
            <div class="c-plan__place">3</div>
            <div class="c-plan__place">4</div>
            <div class="c-plan__place">5</div>
            <div class="c-plan__place">6</div>
            <div class="c-plan__place">7</div>
            <div class="c-plan__place">8</div>
            <div class="c-plan__place">9</div>
            <div class="c-plan__place">10</div>
          </div>
          <div class="c-plan__row-name">7 ряд</div>
        </div>
        <div class="c-plan__row">
          <div class="c-plan__row-name">8 ряд</div>
          <div class="c-plan__places">
            <div class="c-plan__place">1</div>
            <div class="c-plan__place">2</div>
            <div class="c-plan__place">3</div>
            <div class="c-plan__place">4</div>
            <div class="c-plan__place">5</div>
            <div class="c-plan__place">6</div>
            <div class="c-plan__place">7</div>
            <div class="c-plan__place">8</div>
            <div class="c-plan__place">9</div>
            <div class="c-plan__place">10</div>
          </div>
          <div class="c-plan__row-name">8 ряд</div>
        </div>
        <div class="c-plan__row">
          <div class="c-plan__row-name">9 ряд</div>
          <div class="c-plan__places">
            <div class="c-plan__place">1</div>
            <div class="c-plan__place">2</div>
            <div class="c-plan__place">3</div>
            <div class="c-plan__place">4</div>
            <div class="c-plan__place">5</div>
            <div class="c-plan__place">6</div>
            <div class="c-plan__place">7</div>
            <div class="c-plan__place">8</div>
            <div class="c-plan__place">9</div>
            <div class="c-plan__place">10</div>
          </div>
          <div class="c-plan__row-name">9 ряд</div>
        </div>
        <div class="c-plan__row">
          <div class="c-plan__row-name">10 ряд</div>
          <div class="c-plan__places">
            <div class="c-plan__place">1</div>
            <div class="c-plan__place">2</div>
            <div class="c-plan__place">3</div>
            <div class="c-plan__place">4</div>
            <div class="c-plan__place">5</div>
            <div class="c-plan__place">6</div>
            <div class="c-plan__place">7</div>
            <div class="c-plan__place">8</div>
            <div class="c-plan__place">9</div>
            <div class="c-plan__place">10</div>
          </div>
          <div class="c-plan__row-name">10 ряд</div>
        </div>
        <div class="c-plan__row">
          <div class="c-plan__row-name">11 ряд</div>
          <div class="c-plan__places">
            <div class="c-plan__place">1</div>
            <div class="c-plan__place">2</div>
            <div class="c-plan__place">3</div>
            <div class="c-plan__place">4</div>
            <div class="c-plan__place">5</div>
            <div class="c-plan__place">6</div>
            <div class="c-plan__place">7</div>
            <div class="c-plan__place">8</div>
            <div class="c-plan__place">9</div>
            <div class="c-plan__place">10</div>
          </div>
          <div class="c-plan__row-name">11 ряд</div>
        </div>
        <div class="c-plan__row">
          <div class="c-plan__row-name">12 ряд</div>
          <div class="c-plan__places">
            <div class="c-plan__place">Вх.</div>
            <div class="c-plan__place">2</div>
            <div class="c-plan__place">3</div>
            <div class="c-plan__place">4</div>
            <div class="c-plan__place">5</div>
            <div class="c-plan__place">6</div>
            <div class="c-plan__place">7</div>
            <div class="c-plan__place">8</div>
            <div class="c-plan__place">9</div>
            <div class="c-plan__place">10</div>
          </div>
          <div class="c-plan__row-name">12 ряд</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
