{% extends "_layout.html" %}
{% block title %}Труппа{% endblock %}
{% block page %}
<div class="o-container c-troupe">
  <div class="e-header c-troupe__header">Труппа</div>
  <div class="o-grid o-grid_multirow o-grid__1of3 c-troupe__items">
    <div class="o-grid__cell">
      <div class="c-troupe__item">
        <div class="c-troupe__img">
          <img src="../img/photo1.jpg" width="163" height="245" alt="Бунькова Татьяна">
        </div>
        <a class="c-troupe__name" href="#">
          Бунькова<br>Татьяна
        </a>
      </div>
    </div>
    <div class="o-grid__cell">
      <div class="c-troupe__item">
        <div class="c-troupe__img">
          <img src="../img/photo2.jpg" width="163" height="245" alt="Алёшкин Игорь">
        </div>
        <a class="c-troupe__name" href="#">
          Алёшкин<br>Игорь
        </a>
      </div>
    </div>
    <div class="o-grid__cell">
      <div class="c-troupe__item">
        <div class="c-troupe__img">
          <img src="../img/photo3.jpg" width="163" height="245" alt="Белов Илья">
        </div>
        <a class="c-troupe__name" href="#">
          Белов<br>Илья
        </a>
      </div>
    </div>
    <div class="o-grid__cell">
      <div class="c-troupe__item">
        <div class="c-troupe__img">
          <img src="../img/photo1.jpg" width="163" height="245" alt="Бунькова Татьяна">
        </div>
        <a class="c-troupe__name" href="#">
          Бунькова<br>Татьяна
        </a>
      </div>
    </div>
    <div class="o-grid__cell">
      <div class="c-troupe__item">
        <div class="c-troupe__img">
          <img src="../img/photo2.jpg" width="163" height="245" alt="Алёшкин Игорь">
        </div>
        <a class="c-troupe__name" href="#">
          Алёшкин<br>Игорь
        </a>
      </div>
    </div>
    <div class="o-grid__cell">
      <div class="c-troupe__item">
        <div class="c-troupe__img">
          <img src="../img/photo3.jpg" width="163" height="245" alt="Белов Илья">
        </div>
        <a class="c-troupe__name" href="#">
          Белов<br>Илья
        </a>
      </div>
    </div>
    <div class="o-grid__cell">
      <div class="c-troupe__item">
        <div class="c-troupe__img">
          <img src="../img/photo1.jpg" width="163" height="245" alt="Бунькова Татьяна">
        </div>
        <a class="c-troupe__name" href="#">
          Бунькова<br>Татьяна
        </a>
      </div>
    </div>
    <div class="o-grid__cell">
      <div class="c-troupe__item">
        <div class="c-troupe__img">
          <img src="../img/photo2.jpg" width="163" height="245" alt="Алёшкин Игорь">
        </div>
        <a class="c-troupe__name" href="#">
          Алёшкин<br>Игорь
        </a>
      </div>
    </div>
    <div class="o-grid__cell">
      <div class="c-troupe__item">
        <div class="c-troupe__img">
          <img src="../img/photo3.jpg" width="163" height="245" alt="Белов Илья">
        </div>
        <a class="c-troupe__name" href="#">
          Белов<br>Илья
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
