.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.muted {
  color: #7b7b7b;
}

.rotate-180 {
  transform: rotateY(180deg);
}

.align-right {
  display: inline-block;
  text-align: right;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
