.c-contacts__title {
  font-size: 60px;
  line-height: 72px;
  color: #000000;
  font-family: 'AmericaXIX', serif;
  padding-top: 50px;
  padding-bottom: 40px;
}

.c-contacts__firm {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-family: 'FiraSans', sans-serif;
  padding-top: 40px;
  padding-bottom: 20px;
}

.c-contacts__title {
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  font-family: 'AmericaXIX', serif;
  padding-top: 60px;
  padding-bottom: 60px;
}

.c-contacts__small-text {
  font-size: 16px;
  line-height: 1.625;
  color: #555555;
  font-family: 'FiraSansBook', sans-serif;
  margin-bottom: 10px;
}

.c-contracts__mail-link {
  text-decoration: underline;;
  font-size: 16px;
  line-height: 1.625;
  color: #e84e10;
  font-family: 'FiraSansBook', sans-serif;
}

.c-contracts__mail-link:hover {
  text-decoration: none;
}

.c-contracts__item {
  width: 480px;
  min-height: 245px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

.c-contracts-item__img {
  flex: 0 0;
}

.c-contracts-item__img img {
  width: 165px;
  height: 245px;
}

.c-contracts-item__info {
  flex: 1 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 30px;
  padding-right: 60px;
}

.c-contracts-item__name {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  font-family: 'AmericaXIX', serif;
  padding-bottom: 15px;
}
