.c-news {
  padding-bottom: 69px;
  position: relative;
}

.c-news__chairs {
  background: url(../img/chairs.png) 0px -139px no-repeat;
  position: absolute;
  width: 560px;
  height: 1060px;
  right: 0;
  top: -88px;
  z-index: -1;
}

.c-news__item {
  max-width: 720px;
  overflow: hidden;
  margin-top: 38px;
}

.c-news__date {
  float: left;
  font-size: 20px;
  color: #7b7b7b;
  font-family: 'AmericaXIX', serif;
  margin-top: -1px;
  text-align: right;
  width: 130px;
}

.c-news__info {
  margin-left: 159px;
}

.c-news__name {
  font-size: 20px;
  color: #0f0e15;
  text-decoration: none;
}

.c-news__desc {
  color: #555555;
  line-height: 1.625;
  padding-top: 15px;
}

.c-news__button-link {
  width: 187px;
  padding: 15px 0 13px;
  margin-top: 43px;
}