
.c-performances__header {
  font-size: 45px;
  line-height: 80px;
  padding: 40px 0 20px;
}

.c-performances__section {
  margin-left: -30px;
}

.c-performances-section__title {
  font-size: 20px;
  line-height: 80px;
  color: #0f0e15;
  font-family: 'AmericaXIX', serif;
}

.c-performances-section__filter {
  float: right;
  font-size: 16px;
  line-height: 80px;
  font-family: 'FiraSans', serif;
  padding-right: 35px;
  position: relative;
}

.c-performances-section__filter:hover {
  text-decoration: underline;
  cursor: pointer;
}

.c-performances-section__filter::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #0f0e15;
  border-radius: 50%;
}

.c-performances-section__filter::after {
  content: "";
  position: absolute;
  top: 35px;
  right: 7px;
  width: 7px;
  height: 7px;
  border: 2px solid #0f0e15;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
}

.c-performances-section__description {
  font-family: 'FiraSansBook', serif;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
  color: #555555;
}

.c-performances-section__description a {
  color: #555555;
  text-decoration: none;
}
.c-performances-section__description a:hover {
  text-decoration: underline;
}

.c-performances-archive {
  padding: 20px 0 50px;
}

.c-performances__item {
  width: 260px;
  min-height: 365px;
  padding-left: 30px;
  margin-bottom: 40px;
}

.c-performances-item__img {
  width: 260px;
  height: 365px;
  box-shadow: 4px 6px 6px rgba(0,0,0,0.24);
}

.c-performances-archive .c-performances-item__img {
  filter: grayscale(1);
}

.c-performances-item__img img {
  width: 260px;
  height: 365px;
}

.c-performances-item__description {
  color: #555555;
  font-family: 'FiraSansBook', serif;
  font-size: 16px;
  line-height: 24px;
}

.c-performances-item__name {
  display: block;
  padding-top: 20px;
  color: #0f0e15;
  font-family: 'FiraSansBook', sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
}

.c-performances-item__name:hover {
  text-decoration: underline;
}
