.c-show-card {
  position: relative;
  outline-width: 0;

  &:before {
    content: '';
    box-shadow: 0px 1px 25.6px 6.4px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 38px;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
  }

  &:hover {
    &:before {
      visibility: visible;
    }

    .c-show-card__name {
      color: #e74e0f;
    }

    .c-show-card__overlay {
      &:after {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.79);
      }
    }

    .c-show-card__buttons {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.c-show-card__name {
  color: #0f0e15;
  font-size: 24px;
  line-height: 1.08;
  margin-bottom: 15px;
}

.c-show-card__desc {
  color: #555555;
  line-height: 1.5;
}

.c-show-card__info {
  height: 145px;
}

.c-show-card__counter {
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  margin: auto;
  z-index: 1;
}

.c-show-card__current-number {
  display: inline-block;
  min-width: 1ch;
}

.c-show-card_label {
  position: relative;

  &::before {
    content: attr(data-label);
    position: absolute;
    top: 21px;
    left: 19px;
    font-size: 12px;
    color: #ffffff;
    line-height: 1.667;
    padding: 0 5px;
    z-index: 1;
  }
}

.c-show-card_label-color_purple {
  &::before {
    background-color: #5636a5;
  }
}

.c-show-card_label-color_blue {
  &::before {
    background-color: #286d81;
  }
}

.c-show-card__day {
  font-family: 'AmericaXIX', serif;
  font-size: 20px;
}

.c-show-card_in-slider {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  &:before {
    left: 20px;
    right: 20px;
    bottom: 20px;
  }
}

.c-show-card__overlay {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    visibility: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 300ms ease;
  }
}

.c-show-card__buttons {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transform: scale(0);
  transition: opacity 300ms ease, transform 300ms ease;
  padding: 22px;
}

.c-show-card__button-more {
  padding-right: 26px;
  padding-left: 26px;
}