@font-face {
  font-family: 'FiraSans';
  font-path: '../fonts/FiraSans-Regular';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmericaXIX';
  font-path: '../fonts/AmericaXIX';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansBook';
  font-path: '../fonts/FiraSans-Book';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansLightItalic';
  font-path: '../fonts/FiraSans-LightItalic';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansBookItalic';
  font-path: '../fonts/FiraSans-BookItalic';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansSemiBold';
  font-path: '../fonts/FiraSans-SemiBold';
  font-weight: normal;
  font-style: normal;
}
