@import './settings/variables.css';
@import './mixins/mediaqueries.css';
@import './mixins/icon.css';

@import './generic/normalize.css';
@import './generic/font.css';
@import './generic/main-layout.css';

@import './objects/layout.css';
@import './objects/grids.css';
@import './objects/common.css';

@import './elements/icons.css';
@import './elements/inputs.css';
@import './elements/button-links.css';
@import './elements/headers.css';
@import './elements/links.css';

@import './components/global.css';
@import './components/footer.css';
@import './components/index.css';
@import './components/slider.css';
@import './components/show-card.css';
@import './components/media.css';
@import './components/calendar.css';
@import './components/news.css';
@import './components/tour.css';
@import './components/troupe.css';
@import './components/performances.css';
@import './components/performance.css';
@import './components/friends.css';
@import './components/instagram-feed.css';
@import './components/socials.css';
@import './components/filter.css';
@import './components/afisha.css';
@import './components/line-calendar.css';
@import './components/schedule.css';
@import './components/actor.css';
@import './components/many-items-slider.css';

@import './tools/utils.css';

.c-lang-switch {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
}

.c-lang-switch__link {
  text-decoration: none;
  background-color: #444444;

  &:hover {
    color: #e74e0f;
  }
}

.c-lang-switch__item {
  display: inline-block;
  font-size: 14px;
  color: #fffffe;
  padding: 15px 10px 9px;
}