@import './settings/variables.css';
@import './mixins/mediaqueries.css';
@import './mixins/icon.css';

@import './generic/normalize.css';
@import './generic/font.css';
@import './generic/main-layout.css';

@import './objects/layout.css';
@import './objects/grids.css';
@import './objects/common.css';

@import './elements/icons.css';
@import './elements/inputs.css';
@import './elements/button-links.css';
@import './elements/headers.css';

@import './components/global.css';
@import './components/index.css';
@import './components/slider.css';
@import './components/show-card.css';
@import './components/media.css';
@import './components/calendar.css';
@import './components/news.css';
@import './components/tour.css';
@import './components/friends.css';
@import './components/instagram-feed.css';

@import './tools/utils.css';

.c-footer {
  color: #ffffff;
  padding-top: 68px;
}

.c-footer__to-us {
  font-family: 'AmericaXIX', serif;
  font-size: 20px;
  padding-bottom: 20px;
}

.c-footer__org-name {
  font-family: 'AmericaXIX', serif;
  font-size: 20px;
  padding-bottom: 21px;
}

.c-footer__addr {
  padding-bottom: 34px;
}

.c-socials {
  padding-bottom: 37px;
  display: flex;
  justify-content: space-between;
}

.c-socials__item {
  display: block;
  border: solid 2px #ffffff;
  width: 56px;
  height: 56px;
}

.c-footer__autors {
  color: #9a9a9a;
  margin-top: 34px;
}