.o-grid {
  display: flex;
}

.o-grid_multirow {
  flex-wrap: wrap;
}

.o-grid__cell {
  flex: 1;
  box-sizing: border-box;
}

.o-grid__gutter_one {
  margin-left: -30px;

  & > .o-grid__cell {
    padding-left: 30px;
  }
}

.o-grid__gutter_two {
  margin-left: -10px;

  & > .o-grid__cell {
    padding-left: 10px;
  }
}

.o-grid__1of3 > .o-grid__cell {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.o-grid__1of6 > .o-grid__cell {
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}

.o-grid__1of2 > .o-grid__cell {
  flex: 0 0 50%;
  max-width: 50%;
}

.o-grid__1of4 > .o-grid__cell {
  flex: 0 0 25%;
  max-width: 25%;
}

.o-grid_multirow > .o-grid__cell {
  flex-grow: 1;
  max-width: none;
}
